body {
  margin: 0;
  padding: 0;
}

@navColor:  #5cb85c;
@navFontColor: #ffffff;
@borderRadius: 0.5em;

.navbar-header {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand {
  color: @navFontColor;
}
.navigation {
  background-color: @navColor;
  border-color: #4cae4c;
  margin-bottom: 1em;
  min-height: 50px;
  text-align: justify;
  cursor: pointer;
  border-radius: @borderRadius;
  width: 80%;
  position: relative;
}
.left-addon input  {
    padding-left:  30px;
}
.right-addon input {
    padding-right: 30px;
}
.left-addon .fa {
   left: 0px;
}
.right-addon .fa {
    right: 0px;
}
.inner-addon {
  position: relative;
}
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  margin-left: 15px;
  pointer-events: none;
}
.margin-top {
  margin-top: 1em;
}
.margin-right {
  margin-right: 1em;
}
.margin-bottom {
  margin-bottom: 1em;
}
.float-right {
   float: right;
}
.center {
  margin: 0 auto;
}
.float-center {
  float: right;
  position: relative;
  right: 50%;
}
.align-center {
  text-align: center;
}
